<div class="day-six-container">
  <h1>Scroll to see the animation</h1>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
  <div class="box">
    <h2>Cotent</h2>
  </div>
</div>
