<h2>How do you want your project to be?</h2>
<div class="toggle-container">
  <input
    type="checkbox"
    id="good"
    #good
    class="toggle"
    (change)="onToggle($event)"
  />
  <label for="good" class="label">
    <div class="ball"></div>
  </label>
  <span>Good</span>
</div>

<div class="toggle-container">
  <input
    type="checkbox"
    id="cheap"
    #cheap
    class="toggle"
    (change)="onToggle($event)"
  />
  <label for="cheap" class="label">
    <div class="ball"></div>
  </label>
  <span>Cheap</span>
</div>

<div class="toggle-container">
  <input
    type="checkbox"
    id="fast"
    #fast
    class="toggle"
    (change)="onToggle($event)"
  />
  <label for="fast" class="label">
    <div class="ball"></div>
  </label>
  <span>Fast</span>
</div>
