<div class="day-twenty-four-container">
    <div class="card">
        <div class="card-header " [class.animated-bg]="!imgSrc">
            <img src="https://images.unsplash.com/photo-1541807084-5c52b6b3adef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
                *ngIf="imgSrc">
        </div>
        <div class="card-content">
            <h3 class="card-title" [ngClass]="{'animated-bg': !cardTitle, 'animated-bg-text': !cardTitle}">
                {{cardTitle}}
            </h3>
            <p class="card-excerpt">
                <ng-container *ngIf="cardExcerpt">{{cardExcerpt}}</ng-container>
                <ng-container *ngIf="!cardExcerpt"><span class="animated-bg animated-bg-text">&nbsp;</span>
                    <span class="animated-bg animated-bg-text">&nbsp;</span>
                    <span class="animated-bg animated-bg-text">&nbsp;</span>
                </ng-container>

            </p>
            <div class="author">
                <div class="profile-img " [class.animated-bg]="!authorImgSrc">
                    <img src="https://randomuser.me/api/portraits/men/45.jpg" *ngIf="authorImgSrc">
                </div>
                <div class="author-info">
                    <strong [ngClass]="{'animated-bg': !authorName, 'animated-bg-text': !authorName}">
                        {{authorName}}
                    </strong>
                    <small [ngClass]="{'animated-bg': !date, 'animated-bg-text': !date}">
                        {{date}}
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>