.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: hsla(56, 92%, 51%, 0.3);
  margin: 0;
  padding: 10px 10px;

  font-size: 24px;

  .nav-item {
    &:hover {
      background-color: white;
    }

    list-style: none;

    width: max-content;

    .nav-link {
      text-decoration: none;

      .nav-icon {
        color: hsla(286, 80%, 46%, 1);
      }

      .link-text {
        font-weight: 900;
        margin-left: 1rem;
        color: hsla(273, 85%, 50%, 1);
      }
    }
  }
}
