<h1>todos</h1>
<form (submit)="addTodo($event, todoInput)">
  <input
    type="text"
    class="input"
    placeholder="Enter your todo"
    autocomplete="off"
    #todoInput
  />

  <ul class="todos" *ngIf="todos.length > 0">
    <ng-container *ngFor="let todo of todos; index as i">
      <li
        #todoLi
        (click)="todoOnLeftClick($event)"
        (contextmenu)="todoOnRightClick($event, i)"
        appHoldable
        [appHoldableTimingPrecision]="100"
        (holdTime)="holdTimeHandler($event, todoLi, i)"
        (holdState)="holdStateHandler($event, todoLi)"
      >
        {{ todo.value }}
      </li>
    </ng-container>
  </ul>
</form>

<small>
  Left click to toggle completed
  <br />
  Right click or hold left click for {{ HOLD_TO_DELETE_TIME / 1000 }}s to delete
</small>
