<div class="quiz-container">
  <ng-container *ngIf="questions[curQuestionInd]; else end">
    <div class="quiz-header">
      <h2>{{ questions[curQuestionInd].questionText }}</h2>
      <ul>
        <ng-container
          *ngFor="
            let choice of questions[curQuestionInd].questionChoices;
            index as i
          "
        >
          <li>
            <input
              type="radio"
              name="answers"
              [id]="'choice-' + i"
              class="answer"
              [checked]="curChoiceInd === i"
              (click)="curChoiceInd = i"
            />
            <label [for]="'choice-' + i">{{ choice }}</label>
          </li>
        </ng-container>
      </ul>
    </div>

    <button (click)="checkQuestion(curChoiceInd)">Submit</button>
  </ng-container>
</div>

<ng-template #end>
  <h2 style="text-align: center">Your score is: {{ score }}</h2>
  <button (click)="reset()">Reset</button>
</ng-template>
