<div class="day-twenty-five-container">
  <nav #nav class="nav">
    <div class="container">
      <h1 class="logo">
        <a href="#">My Website</a>
      </h1>
      <ul>
        <li><a href="#" class="current">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Service</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div class="hero">
    <div class="container">
      <h1>Welcome to my website</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
        officia?
      </p>
    </div>
  </div>

  <section class="container content">
    <h2>Content One</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
      dolorem omnis debitis aliquid quas libero, odit est ullam fugiat
      voluptates earum reprehenderit numquam ducimus beatae velit maxime
      necessitatibus magnam dolores provident consequuntur adipisci illo. Ea
      quasi consequatur similique rem alias nobis error. Natus blanditiis ad
      earum. Minus, eveniet mollitia, tempora eos magni laborum earum cumque
      veniam dolor nemo saepe eligendi adipisci! Sint eligendi quaerat est
      tenetur a consequatur doloremque rerum, dolorum, laborum eos ratione enim,
      beatae vitae accusamus praesentium consectetur nostrum sapiente sunt
      obcaecati id. Tempore in reiciendis nostrum cum illum repellat ex quis,
      culpa sint voluptatibus. Reiciendis, ex eum.
    </p>

    <h3>Content Two</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugiat
      nostrum rem explicabo omnis corrupti tempore odit, voluptatibus non
      possimus voluptates doloribus accusamus quas voluptas ducimus aut suscipit
      distinctio! Rem voluptate ex amet possimus esse fugit ipsum ad quo aliquid
      explicabo! Quod consectetur dolore sit repellat officia unde, eligendi
      aperiam. Voluptate distinctio dolor non deleniti voluptatem, voluptatibus
      placeat ipsum unde voluptates numquam exercitationem ipsa iste, sit soluta
      velit commodi aspernatur, nostrum est consequuntur aliquid accusantium
      doloremque! Voluptatibus numquam autem dolor unde pariatur laudantium
      molestias eligendi, tempora dolorem reprehenderit voluptatum reiciendis
      nesciunt, eius quod cum deserunt non asperiores atque ipsam eaque.
    </p>
  </section>
</div>
