.day-six-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #efedd6;

  h1 {
    margin: 10px;
  }

  .box {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(150vw);
    transition: transform 0.6s ease;

    h2 {
      font-size: 2rem;
    }

    &:nth-of-type(even) {
      transform: translateX(-200vw);
    }

    &.show {
      transform: translateX(0);
    }
  }
}
