<div class="testimonial-container">
  <div class="progress-bar"></div>
  <div class="fas fa-quote-right fa-quote"></div>
  <div class="fas fa-quote-left fa-quote"></div>
  <p class="testimonial">
    {{ testimonials[currentIndex].text }}
  </p>
  <div class="user">
    <img
      class="user-img"
      [src]="
        'https://randomuser.me/api/portraits/women/' + currentIndex + '.jpg'
      "
      alt="user"
    />
    <div class="user-detail">
      <h4 class="username">{{ testimonials[currentIndex].name }}</h4>
      <p class="role">{{ testimonials[currentIndex].role }}</p>
    </div>
  </div>
</div>
