<div class="home-container">
  <app-project-card
    routerLink="day-one"
    title="Day 1"
    imgUrl="assets/images/tinified/day-one-snippet.webp"
    description="Expanding cards using animated flex-grow"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-two"
    title="Day 2"
    imgUrl="assets/images/tinified/day-two-snippet.webp"
    description="Progress steps using css to draw connector"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-three"
    title="Day 3"
    imgUrl="assets/images/tinified/day-three-snippet.webp"
    description="Rotating navigation by transforming css rotate property"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-four"
    title="Day 4"
    imgUrl="assets/images/tinified/day-four-snippet.webp"
    description="Expandable search by transforming css width"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-five"
    title="Day 5"
    imgUrl="assets/images/tinified/day-five-snippet.webp"
    description="Loading background image using blur and opacity"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-six"
    title="Day 6"
    imgUrl="assets/images/tinified/day-six-snippet.webp"
    description="Slide-in scroll animation by translateX base on positions"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-seven"
    title="Day 7"
    imgUrl="assets/images/tinified/day-seven-snippet.webp"
    description="Split lading page by transforming css width"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-eight"
    title="Day 8"
    imgUrl="assets/images/tinified/day-eight-snippet.webp"
    description="Wavey form using dynamic transition-delay"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-nine"
    title="Day 9"
    imgUrl="assets/images/tinified/day-nine-snippet.webp"
    description="Basic introduction to sound element"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-ten"
    title="Day 10"
    imgUrl="assets/images/tinified/day-ten-snippet.webp"
    description="Dad Jokes fetch from external API"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-eleven"
    title="Day 11"
    imgUrl="assets/images/tinified/day-eleven-snippet.webp"
    description="Tracking Keyboard by listening to window event"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twelve"
    title="Day 12"
    imgUrl="assets/images/tinified/day-twelve-snippet.webp"
    description="Collapsible FAQs by modifying display property"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirteen"
    title="Day 13"
    imgUrl="assets/images/tinified/day-thirteen-snippet.webp"
    description="Random choices generator with simple JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourteen"
    title="Day 14"
    imgUrl="assets/images/tinified/day-fourteen-snippet.webp"
    description="Animated Navbar with rotating css animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fifteen"
    title="Day 15"
    imgUrl="assets/images/tinified/day-fifteen-snippet.webp"
    description="Incremental Counter using Directive"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-sixteen"
    title="Day 16"
    imgUrl="assets/images/tinified/day-sixteen-snippet.webp"
    description="Filling Water Cups with nothing but JS and CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-seventeen"
    title="Day 17"
    imgUrl="assets/images/tinified/day-seventeen-snippet.webp"
    description="A simple movie poster app using TheMovieDb API"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-eighteen"
    title="Day 18"
    imgUrl="assets/images/tinified/day-eighteen-snippet.webp"
    description="Smooth Gallery that blend with the background using css opacity transition"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-nineteen"
    title="Day 19"
    imgUrl="assets/images/tinified/day-nineteen-snippet.webp"
    description="A theme clock using Js and CSS dynamic variables"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty"
    title="Day 20"
    imgUrl="assets/images/tinified/day-twenty-snippet.webp"
    description="A ripple button with JS and CSS animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-one"
    title="Day 21"
    imgUrl="assets/images/tinified/day-twenty-one-snippet.webp"
    description="Drag and Drop from scratch with JS and CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-two"
    title="Day 22"
    imgUrl="assets/images/tinified/day-twenty-two-snippet.webp"
    description="Simple Drawing app using HTML Canvas"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-three"
    title="Day 23"
    imgUrl="assets/images/tinified/day-twenty-three-snippet.webp"
    description="Simple Kinetic loader using pure css and animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-four"
    title="Day 24"
    imgUrl="assets/images/tinified/day-twenty-four-snippet.webp"
    description="Placeholder Loader using pure CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-five"
    title="Day 25"
    imgUrl="assets/images/tinified/day-twenty-five-snippet.webp"
    description="Sticky Navbar that shrink using simple CSS and JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-six"
    title="Day 26"
    imgUrl="assets/images/tinified/day-twenty-six-snippet.webp"
    description="Two-way Vertical Slider by hiding overflow and invert array"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-seven"
    title="Day 27"
    imgUrl="assets/images/tinified/day-twenty-seven-snippet.webp"
    description="Toast message using Angular Directive"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-eight"
    title="Day 28"
    imgUrl="assets/images/tinified/day-twenty-eight-snippet.webp"
    description="Github Profile Overview using Github API"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-nine"
    title="Day 29"
    imgUrl="assets/images/tinified/day-twenty-nine-snippet.webp"
    description="Custom double-click with effect"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty"
    title="Day 30"
    imgUrl="assets/images/tinified/day-thirty-snippet.webp"
    description="Auto Text writter using simple JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-one"
    title="Day 31"
    imgUrl="assets/images/tinified/day-thirty-one-snippet.webp"
    description="Password generator using pure JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-two"
    title="Day 32"
    imgUrl="assets/images/tinified/day-thirty-two-snippet.webp"
    description="Practical Toggle Slider with JS and CSS animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-three"
    title="Day 33"
    imgUrl="assets/images/tinified/day-thirty-three-snippet.webp"
    description="Note taking app that persist using local storage"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-four"
    title="Day 34"
    imgUrl="assets/images/tinified/day-thirty-four-snippet.webp"
    description="Count down that actually goes down with JS and CSS animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-five"
    title="Day 35"
    imgUrl="assets/images/tinified/day-thirty-five-snippet.webp"
    description="Image Carousel by translating X"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-six"
    title="Day 36"
    imgUrl="assets/images/day-thirty-six-snippet.gif"
    description="It's like a disco floor when you mouse over: built with JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-seven"
    title="Day 37"
    imgUrl="assets/images/tinified/day-thirty-seven-snippet.webp"
    description="Pokemon Index with Dynamic color using JS and CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-eight"
    title="Day 38"
    imgUrl="assets/images/tinified/day-thirty-eight-snippet.webp"
    description="Mobile style navigation using pure JS and CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirty-nine"
    title="Day 39"
    imgUrl="assets/images/tinified/day-thirty-nine-snippet.webp"
    description="A simple Background that blur when the user password is strong"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty"
    title="Day 40"
    imgUrl="assets/images/tinified/day-fourty-snippet.webp"
    description="Bananna Magic using JS and CSS rotate"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-one"
    title="Day 41"
    imgUrl="assets/images/tinified/day-fourty-one-snippet.webp"
    description="A simple UI for entering verification codes"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-two"
    title="Day 42"
    imgUrl="assets/images/tinified/day-fourty-two-snippet.webp"
    description="Filter users with live result using in memeory caching (aka variables LOL)"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-three"
    title="Day 43"
    imgUrl="assets/images/tinified/day-fourty-three-snippet.webp"
    description="A simple feedback form"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-four"
    title="Day 44"
    imgUrl="assets/images/tinified/day-fourty-four-snippet.webp"
    description="A custom range slider using CSS and a bit of JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-five"
    title="Day 45"
    imgUrl="assets/images/tinified/day-fourty-five-snippet.webp"
    description="A multi-layer hamburger menu using CSS animation timing"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-six"
    title="Day 46"
    imgUrl="assets/images/tinified/day-fourty-six-snippet.webp"
    description="A simple Quiz game built with JS and CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-seven"
    title="Day 47"
    imgUrl="assets/images/tinified/day-fourty-seven-snippet.webp"
    description="A testimonials Gallery using css animation with a bit of JS timing"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-eight"
    title="Day 48"
    imgUrl="assets/images/tinified/day-fourty-eight-snippet.webp"
    description="Just a galley with random images to make myself feel artistic"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourty-nine"
    title="Day 49"
    imgUrl="assets/images/tinified/day-fourty-nine-snippet.webp"
    description="A simple TODOs app that persist data in localStorage"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fifty"
    title="Day 50"
    imgUrl="assets/images/tinified/day-fifty-snippet.webp"
    description="Squash the insect game"
  >
  </app-project-card>
</div>
