<div class="home-container">
  <app-project-card
    routerLink="day-one"
    title="Day 1"
    imgUrl="assets/images/day-one-snippet.PNG"
    description="Expanding cards using animated flex-grow"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-two"
    title="Day 2"
    imgUrl="assets/images/day-two-snippet.PNG"
    description="Progress steps using css to draw connector"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-three"
    title="Day 3"
    imgUrl="assets/images/day-three-snippet.png"
    description="Rotating navigation by transforming css rotate property"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-four"
    title="Day 4"
    imgUrl="assets/images/day-four-snippet.png"
    description="Expandable search by transforming css width"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-five"
    title="Day 5"
    imgUrl="assets/images/day-five-snippet.png"
    description="Loading background image using blur and opacity"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-six"
    title="Day 6"
    imgUrl="assets/images/day-six-snippet.png"
    description="Slide-in scroll animation by translateX base on positions"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-seven"
    title="Day 7"
    imgUrl="assets/images/day-seven-snippet.png"
    description="Split lading page by transforming css width"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-eight"
    title="Day 8"
    imgUrl="assets/images/day-eight-snippet.png"
    description="Wavey form using dynamic transition-delay"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-nine"
    title="Day 9"
    imgUrl="assets/images/day-nine-snippet.png"
    description="Basic introduction to sound element"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-ten"
    title="Day 10"
    imgUrl="assets/images/day-ten-snippet.png"
    description="Dad Jokes fetch from external API"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-eleven"
    title="Day 11"
    imgUrl="assets/images/day-eleven-snippet.png"
    description="Tracking Keyboard by listening to window event"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twelve"
    title="Day 12"
    imgUrl="assets/images/day-twelve-snippet.png"
    description="Collapsible FAQs by modifying display property"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-thirteen"
    title="Day 13"
    imgUrl="assets/images/day-thirteen-snippet.png"
    description="Random choices generator with simple JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fourteen"
    title="Day 14"
    imgUrl="assets/images/day-fourteen-snippet.png"
    description="Animated Navbar with rotating css animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-fifteen"
    title="Day 15"
    imgUrl="assets/images/day-fifteen-snippet.png"
    description="Incremental Counter using Directive"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-sixteen"
    title="Day 16"
    imgUrl="assets/images/day-sixteen-snippet.png"
    description="Filling Water Cups with nothing but JS and CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-seventeen"
    title="Day 17"
    imgUrl="assets/images/day-seventeen-snippet.png"
    description="A simple movie poster app using TheMovieDb API"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-eighteen"
    title="Day 18"
    imgUrl="assets/images/day-eighteen-snippet.png"
    description="Smooth Gallery that blend with the background using css opacity transition"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-nineteen"
    title="Day 19"
    imgUrl="assets/images/day-nineteen-snippet.png"
    description="A theme clock using Js and CSS dynamic variables"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty"
    title="Day 20"
    imgUrl="assets/images/day-twenty-snippet.png"
    description="A ripple button with JS and CSS animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-one"
    title="Day 21"
    imgUrl="assets/images/day-twenty-one-snippet.png"
    description="Drag and Drop from scratch with JS and CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-two"
    title="Day 22"
    imgUrl="assets/images/day-twenty-two-snippet.png"
    description="Simple Drawing app using HTML Canvas"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-three"
    title="Day 23"
    imgUrl="assets/images/day-twenty-three-snippet.png"
    description="Simple Kinetic loader using pure css and animation"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-four"
    title="Day 24"
    imgUrl="assets/images/day-twenty-four-snippet.png"
    description="Placeholder Loader using pure CSS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-five"
    title="Day 25"
    imgUrl="assets/images/day-twenty-five-snippet.png"
    description="Sticky Navbar that shrink using simple CSS and JS"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-six"
    title="Day 26"
    imgUrl="assets/images/day-twenty-six-snippet.png"
    description="Two-way Vertical Slider by hiding overflow and invert array"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-seven"
    title="Day 27"
    imgUrl="assets/images/day-twenty-seven-snippet.png"
    description="Toast message using Angular Directive"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-eight"
    title="Day 28"
    imgUrl="assets/images/day-twenty-eight-snippet.png"
    description="Github Profile Overview using Github API"
  >
  </app-project-card>

  <app-project-card
    routerLink="day-twenty-nine"
    title="Day 29"
    imgUrl="assets/images/day-twenty-nine-snippet.png"
    description="Custom double-click with effect"
  >
  </app-project-card>
</div>
